body {
    font-family: Arial, sans-serif;
    background-color: rgb(9 102 171 / 5%);
}

header {
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
}

header nav a {
    color: #000;
    text-decoration: none;
    margin-right: 15px;
}

header nav a:hover {
    text-decoration: underline;
}

footer {
    background-color: #f8f9fa;
    padding: 20px;
    margin-top: 20px;
}

footer p {
    margin: 0;
    line-height: 1.5;
}

.table th,
.table td {
    vertical-align: middle;
}

.table th {
    background-color: #f1f1f1;
}

@media (max-width: 768px) {

    header .container,
    footer .container {
        flex-direction: column;
        text-align: center;
    }

    header nav {
        margin-top: 10px;
    }

    footer .row>div {
        margin-bottom: 20px;
    }
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

.logo span {
    font-weight: bold;
    color: #d9534f;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-bar input {
    padding: 15px;
    width: 650px;
    border: 1px solid #118f61;
    border-radius: 4px 0 0 4px;
}

.search-bar .search-button {
    padding: 10px 20px;
    background-color: #118f61;
    border: none;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.scam-list-table {}

.link-logo {
    text-decoration: none !important;
}

@media (max-width: 480px) {
    body {
        font-size: 12px;
    }

    .search-bar input {
        width: 100%;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    body {
        font-size: 12px;
    }

    .search-bar input {
        width: 80%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    body {
        font-size: 14px;
    }

    .search-bar input {
        width: 60%;
    }
}

@media (min-width: 1025px) {
    body {
        font-size: 14px;
    }

    .search-bar input {
        width: 50%;
    }
}

.eyeShowDetail:hover {
    cursor: pointer;
    color: #198754;
}